header, nav, footer{
    font-family: 'SUITE-Regular';
}

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KCC-Ganpan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
    ul{
        list-style: none;
        padding: 0;
    }
    
    /* 메인 */
    #mainBackground {
        width: 100%;
        height: 850px;
        position: absolute;
        top: 201px;
        z-index: -1;
        background: linear-gradient(to bottom, #FBFFDC, white);
        transition: all 1s ease; /* 배경에 대한 트랜지션 설정 */
    }
    /* 캐러셀 */
    #slider {
        position: relative;
        width: 100%;
        margin: 0 auto;
        margin-top: 50px;
        visibility: hidden;
    }
    .btn {
        position: absolute;
        width: 50px;
        height: 70px;
        top: 38%;
        /* transform: translateY(-50%); */
        z-index: 1;
        border: 0;
        background: rgba(250, 250, 250, 0.3);
        /* transition: 0.2s; */
        cursor: pointer;
        font-size: 2rem;
        background: #c3c3c3;
        opacity: 0.5;
        padding-bottom: 12px;
        &:hover {
            background: rgba(250, 250, 250, 0.5);  
        }
        &.prev {
            left: 0;
        }
        &.next {
            right: 0;
        }
    }

    .wrapper {
        position: relative;
        width: 100%;
        /* height: 18rem; */
        height: 700px;
        overflow: hidden;
        padding: 3px 0;
        cursor: grab;
        &.active {
            cursor: grabbing;
        }
    }
    .items {
        position: absolute;
        width: 500%; 
        /* itemCount - 1 */
        left: 0;
        top: 0;
        display: flex;
    }
    .items.active {
    transition: 0.3s;
    }
    .item {
        width: 100%;
        pointer-events: none;
        position: relative;
        padding: 0 1rem;
        .content {
            width: 90%;
            /* height: 18rem; */
            height: 600px;
            /* box-shadow: 0 1rem 2.8rem rgba(0, 0, 0, 0.05); */
            border-radius: 1rem;
            /* background-color: #fff; */
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 5rem;
            color: #fff;
            margin: 0 auto;
        }
    }

    .content {
        &.pink {
            background: linear-gradient(315deg, #e899dc 0%, #d387ab 74%);
        }
        &.yellow {
            background: linear-gradient(315deg, #fce043 0%, #fb7ba2 74%);
        }
        &.skyblue {
            background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
        }
        &.orange {
            background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
        }
    }
    /* 추천 여행 코스 */
    .travelRecommendArea{
        width: 1000px;
        height: 500px;
        margin:0 auto;
    }
    .travelRecommendText{
        width: 1000px;
        height: 60px;
        margin:0 auto;
    }
    .travelRecommendText h2{
        font-family: 'TmoneyRoundWindExtraBold';
        float: left;
        font-size: 28px;
    }
    /* 여행지 사진 */
    .travelRecommand li{
        width: 25%;
        height: 320px;
        float: left;
        text-align: center;
    }
    .animationTravelImg{
        width: 230px;
        height: 320px;
        border-radius: 10px;
        margin:0 auto;
        overflow: hidden;
    }
    .travelImg{
        width: 230px;
        height: 320px;
        background-size: cover;
        background-position: 50% 50%;
        transition: transform 1s ease;
        border: 1px solid #eee;
    }
    .travelImg:hover{
        transform: scale(1.2);
    }
    .travelText{
        font-family: 'SUITE-Regular';
        height: 60px;
        line-height: 60px;
        font-size: 20px;
        font-weight: 600;
    }
    /* 이벤트 영역 */
    .eventImg{
        width: 1000px;
        height: 250px;
        margin: 0 auto;
        margin-top: 50px;
    }
    .eventArea{
        width: 50%;
        height: 100%;
        float: left;
        /* background-color: lightblue; */
        font-family: 'HakgyoansimWoojuR';
        font-size: 20px;
        font-weight: 600;
    }
    .eventArea h4{
        /* font-weight: 600; */
        font-family: 'TmoneyRoundWindExtraBold';
        font-size: 23px;
    }
    .eventList{
        width: 100%;
        height: 54px;
        padding: 12px 0px;
        border-bottom: 1px solid #ccc;
    }
    .eventHighlight{
        float: left;
        color: #f57373;
    }
/* 가이드북 */
    .guideBookMsg{
        width: 250px;
        text-align: center;
        font-family: 'SUITE-Regular';
        font-size: 17px
    }
    