@charset "UTF-8";
main {
    width: 1000px;
    margin: 0 auto;
}
.pageTitle {
	font-family: 'TmoneyRoundWindExtraBold';
    font-size: 28px;
    padding: 20px;
    margin-top: 30px;
    float: left;
}
.commonFont {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;	
}
input, a, button {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
input::placeholder {
	font-size:17px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     px;
}