@charset "UTF-8";
a {
    text-decoration: none;
    color: black;
}  
input {
    border : thin solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: 45px;
    margin-bottom: 5px;
}
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}      
label {
    width: 150px;
}

.link {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.link > a {
    width: 110px;
}
.link > a : hover{
    width: 110px;
    color : #209DE8;
}
.btnBox {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.w-line {
    border-left : thin solid #ccc;
    border: thin solid #ccc;
    width : 166px;  
    height: 1px;        
    margin: 10px;            
}
#or {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
    /* height: 10vh; */
    margin-top: 10px;
    margin-bottom: 10px;
}
#or > p {
    text-align: center; /* 텍스트를 가로로 가운데 정렬 */
    line-height: 100%; /* 화면 높이를 기준으로 세로 가운데 정렬 */
    margin: 0; /* 기본 마진 제거 */
}
.loginBox {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 250px;
    justify-content: space-around;  
    color"
}
.btnBox > button {
	color : white;
}
.loginBtn {
    width: 100%;
}
input::placeholder {
    font-size: 80%;
    padding: 5px;
}
.inputDiv {
    margin-bottom: 10px;
    margin-top: 10px;
}
#loginBtn {
	 background-color: #39B5E0; 
	 border: #39B5E0; 
	 height: 45px;" 
}
#loginBtn:hover{
	background-color: #37BBE0;
	border : #37BBE0;
	color: black;
	
}
