@charset "UTF-8";
/* 스타일을 적용할 맵 컨테이너 내의 텍스트 요소 선택자 */
#map div {
    font-family: 'Your Font Name', sans-serif; /* 원하는 폰트로 변경 */
    font-size: 16px; /* 원하는 폰트 크기로 변경 */
    font-weight: bold; /* 원하는 폰트 두께로 변경 */
    color: #6a14cc; /* 원하는 텍스트 색상으로 변경 */
}

/* 맵 제목을 감싸는 div 요소에 스타일 적용 */
#map-title {
    background-color: #000; /* 배경색 설정 */
    color: #fff; /* 텍스트 색상 설정 */
    padding: 10px; /* 여백 설정 */
    font-size: 24px; /* 폰트 크기 설정 */
    text-align: center; /* 가운데 정렬 설정 */
}