<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="UserMapper">
	<resultMap type="User" id="userResultMap">
		<id 	property="userNo" 			column="USER_NO"/>
		<result property="userId" 			column="USER_ID"/>
		<result property="userPw" 			column="USER_PW"/>
		<result property="platformType" 	column="PLATFORM_TYPE"/>
		<result property="userCreateDate" 	column="USER_CREATE_DATE"/>
		<result property="userDeleteDate" 	column="USER_DELETE_DATE"/>
		<result property="userStatus" 		column="USER_STATUS"/>
		<result property="adminCheck" 		column="ADMIN_CHECK"/>
	</resultMap>
	<resultMap type="User" id="userInfoResultMap">
		<id 	property="userNo" 			column="USER_NO"/>
		<result property="userName" 		column="USER_NAME"/>
		<result property="userNickname" 	column="USER_NICKNAME"/>
		<result property="userGender" 		column="USER_GENDER"/>
		<result property="userEmail" 		column="USER_EMAIL"/>
		<result property="userTel" 			column="USER_TEL"/>
		<result property="userEmailStatus" 	column="USER_EMAIL_STATUS"/>
		<result property="userSmsStatus" 	column="USER_SMS_STATUS"/>
	</resultMap>


	<select id="selectUSerOneId" resultMap="userResultMap, userInfoResultMap">
 		SELECT *
		FROM USER_TBL
		JOIN USER_INFO_TBL ON USER_TBL.USER_NO = USER_INFO_TBL.USER_NO
		WHERE USER_TBL.USER_ID = #{userId }
 	</select>

 	<insert id="kakaoUserInsert">
 		INSERT INTO USER_TBL VALUES(SEQ_USER_NO.NEXTVAL, #{userEmail }, null, 'kakao', DEFAULT, null, DEFAULT, DEFAULT)
 	</insert>
 	<insert id="kakaoUserInfoInsert">
 		INSERT INTO USER_INFO_TBL VALUES(SEQ_USER_INFO_NO.NEXTVAL, #{userNickname }, #{userNickname }, #{userGender }, #{userEmail }, null, DEFAULT, DEFAULT )
 	</insert>
 	<insert id="insertUser">
 		INSERT INTO USER_TBL VALUES(SEQ_USER_NO.NEXTVAL, #{userId }, #{userPw }, 'normal', DEFAULT, null, DEFAULT, DEFAULT)
 	</insert>
 	<insert id="insertUserInfo">
 		INSERT INTO USER_INFO_TBL VALUES(SEQ_USER_INFO_NO.NEXTVAL, #{userName }, #{userNickname }, #{userGender }, #{userEmail }, #{userTel }, #{userEmailStatus }, #{userSmsStatus })
 	</insert>
 	<update id="updateUserNormal">
 		UPDATE USER_TBL SET USER_PW=#{userPw } WHERE USER_NO=#{userNo }
 	</update>
 	<update id="updateUserInfoNormal">
 		UPDATE USER_INFO_TBL SET USER_NICKNAME=#{userNickname }, USER_EMAIL=#{userEmail }, USER_TEL=#{userTel }, USER_EMAIL_STATUS=#{userEmailStatus }, USER_SMS_STATUS=#{userSmsStatus } WHERE USER_NO=#{userNo }
 	</update>
 	<update id="deleteUser">
 		UPDATE USER_TBL SET USER_DELETE_DATE=DEFAULT, USER_STATUS='N' WHERE USER_NO=#{userNo }
 	</update>
 	<delete id="deleteUserInfo">
 		DELETE USER_INFO_TBL WHERE USER_NO=#{userNo }
 	</delete>

 	<select id="selectUserOneNickname" resultMap="userInfoResultMap">
 		SELECT * FROM USER_INFO_TBL WHERE USER_NICKNAME=#{userNickname }
 	</select>
 	<select id="selectUserOneEmail" resultMap="userInfoResultMap">
 		SELECT * FROM USER_INFO_TBL WHERE USER_EMAIL=#{userEmail }
 	</select>
 	<select id="selectUserLogin" resultMap="userResultMap">
 		SELECT * FROM USER_TBL JOIN USER_INFO_TBL USING (USER_NO) WHERE USER_ID=#{userId } AND USER_PW=#{userPw }
 	</select>
	<select id="selectKakaoUser" resultMap="userResultMap">
		SELECT * FROM USER_TBL WHERE USER_ID=#{userId }
	</select>
	<select id="selectUser" resultMap="userResultMap">
		SELECT * FROM USER_TBL WHERE USER_NO=#{userNo }
	</select>
	<select id="selectUserInfo" resultMap="userInfoResultMap">
		SELECT * FROM USER_INFO_TBL WHERE USER_NO=#{userNo }
	</select>

	<select id="selectUserActivity" resultType="userMypageDto">
        select user_id userid,
               content,
               create_date createdate,
               type
        from (select *
              from (select user_id, REPLY_CONTENT content, REPLY_CREATE_DATE create_date, '댓글' type
                    from REPLY_TBL
                    union
                    --커뮤니티
                    select user_id, board_title content, BOARD_CREATE_DATE create_date, '커뮤니티' type
                    from COMMUNITY_TBL
                    union
                    select USER_TBL.user_id, REVIEW_CONTENT, REVIEW_CREATE_DATE, '리뷰' type
                    from REVIEW_TBL
                             join USER_INFO_TBL
                                  on (review_tbl.USER_NICKNAME = USER_INFO_TBL.USER_NICKNAME)
                             join USER_TBL
                                  on (user_tbl.USER_NO = USER_INFO_TBL.user_no))
              where USER_ID = #{userId}
              order by create_date desc)
        where rownum &lt;= 10
    </select>
</mapper>